
.container {
    width: 100%;
    height: 20px;
    position: absolute;
}
.taskbar {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 20px;
    background: #111;
}
.box {
    width: 150px;
    height: 40px;
    border: 1px solid rgb(17, 17, 51);
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.image {
    width: 100%;
    height: 600px;
    top: 80px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(drinks.jpg);
    background-size: cover;
}
#name {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: bisque;
}
#offers {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 200px; 
 } 
 .menu {
     width: 100%;
     height: 400px;
     top: 700px;
     position: absolute;
 }
 .mocktails {
     width: 50%;
     height: 400px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 50px;
     color: rgb(107, 97, 97);
     position: relative;
     float: left;
     background-image: url(mmmm.jpg);
     background-size: cover;
 }
.list1 {
    width: 50%;
    height: 400px;
    left: 10%;
    position: relative;
    color: rgb(25, 49, 77);
    font-size: 40px;
    top: 0px;
    float: right;
    font-family: monospace;
}
.menu2 {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 1100px;
    left: 0;
    display: flex;
}
.cocktails {
    width: 50%;
    height: 400px;
    color: rgb(107, 97, 97);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    position: relative;
    background-image: url(real.jpg);
    background-size: cover;
}
.list2 {
    width: 50%;
    height: 400px;
    position: relative;
    font-size: 40px;
    font-family: monospace;
    color: rgb(25, 49, 77);
    left: 130px;
}
#discription {
    font-size: 20px;
    color: grey;

}
.base {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 500px;
    left: 0; 
    display: flex;
}
.address {
    width: 60%;
    height: 150px;
    justify-content: left;
    align-items: baseline;
    display: flex

}
img {
    width:10%;
    height: 50px;
    position: relative;
}
.bla {
    left: 70%;
    position: relative;
}

 